.slider-container {
    width: 90vw;
    height: 600px;
    margin: 140px auto 0;


    .slider-content {
        width: 100%;
        height: 100%;


        .slider-title {
            max-width: 332px;
            height: 53px;
            margin: 0 auto 40px;


            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 53px;

            text-align: center;
            text-transform: capitalize;

            color: #000000;
        }

        .slider-top {
            width: 100%;
            height: 32px;
            margin-top: 40px;
            display: flex;

            // align-items: center;
            justify-content: space-between;

            .tabs {
                max-width: 375px;
                height: 22px;
                display: flex;

                justify-content: space-between;

                .slider-tablinks {
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: #777777;

                    &.active {
                        color: #000000;
                    }
                }
            }

            .show {
                width: 88px;
                height: 32px;
                background: #1E2832;
                display: flex;
                color: #FFFFFF;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;

                p {
                    width: 63px;
                    height: 22px;

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */

                    text-transform: capitalize;

                    color: #FFFFFF;
                }
            }
        }

        .slider-top-none {
            display: none;
        }

        .products {
            width: 100%;
            height: 440px;
            margin-top: 30px;


            .slider-tabcontent {
                width: 100%;
                height: 100%;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
                display: none;

                &.tab-active {
                    display: block;
                }

                .list-products {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;

                    .slick-slider {
                        height: 100%;
                        width: 100%;

                        color: #000000 !important;

                        .slick-list {
                            width: 100%;
                            height: 100%;

                            .slick-track {
                                display: inline-flex !important;
                                justify-content: space-between !important;

                                .slick-slide {
                                    width: 272px !important;
                                }
                            }
                        }

                        .card-product {
                            width: 272px;
                            height: 438px;


                            .img-product {
                                position: relative;
                                cursor: pointer;
                                width: 100%;
                                height: 360px;
                                overflow: hidden;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                                .ribbon {
                                    position: absolute;
                                    width: 52px;
                                    height: 24px;
                                    left: 0;
                                    top: 22px;

                                    background: #FF6F61;

                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 24px;
                                    text-align: center;
                                    text-transform: uppercase;

                                    color: #FFFFFF;

                                    &.sale {
                                        background: #1E2832;
                                    }

                                }

                                .access-product {
                                    position: absolute;
                                    width: 100%;
                                    height: 56px;
                                    bottom: 0px;
                                    display: none;
                                    background: #1E2832;

                                    .action-product {
                                        width: 100%;
                                        height: 56px;
                                        color: #FFFFFF;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;

                                        .action-product-left {
                                            width: 66px;
                                            height: 24px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                        }

                                        .action-product-right {
                                            width: 115px;
                                            height: 24px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-around;

                                            font-family: "Roboto";
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 18px;
                                            line-height: 21px;
                                            text-transform: capitalize;
                                        }
                                    }
                                }

                                &:hover>.access-product {
                                    display: block;
                                    -webkit-animation: slideTop 1s;
                                    animation: slideTop 1s;
                                }
                            }

                            .title-product {
                                width: 189px;
                                height: 22px;
                                margin-top: 18px;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-transform: capitalize;

                                color: #000000;
                            }

                            .bottom-product {
                                margin-top: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .left-bot {
                                    width: 43px;
                                    height: 22px;

                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 22px;
                                    /* identical to box height */

                                    text-transform: capitalize;

                                    color: #777777;
                                }

                                .right-bot {
                                    width: 51px;
                                    height: 22px;

                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 22px;
                                    /* identical to box height */

                                    text-align: right;
                                    text-transform: capitalize;

                                    color: #000000;
                                }
                            }
                        }

                        .slick-prev {
                            left: 5px !important;
                            z-index: 1;
                            border: none;
                            width: 50px;
                            height: 50px;
                            margin-left: 10px;


                        }

                        .slick-prev::before,
                        .slick-next::before {
                            font-family: "Font Awesome 5 Free" !important;
                            content: '\f104' !important;
                            color: #000000 !important;
                            font-weight: 600 !important;
                            font-size: 40px !important;
                        }

                        .slick-next::before {
                            content: '\f105' !important;
                        }

                        .slick-next {
                            right: 10px !important;
                            z-index: 1;
                            border: none;
                            width: 50px;
                            height: 50px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    // animation for access product
    @-webkit-keyframes slideTop {
        from {
            bottom: -56px;
        }

        to {
            bottom: 0;
        }
    }

    @keyframes slideTop {
        from {
            bottom: -56px;
        }

        to {
            bottom: 0;
        }
    }
}

//mobile
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .sldier-title {
        width: 100%;
        font-size: 45px;
    }

    .slider-top {
        flex-direction: column;
    }
}

//tablet
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .sldier-top {
        align-items: center;
    }
}

//laptop
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .sldier-top {
        align-items: center;
    }
}

//desktop
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .sldier-top {
        align-items: center;
    }
}

//extra
@media only screen and (min-width: 1201px) {
    .sldier-top {
        align-items: center;
    }
}