.topmain-container {
    width: 100%;
    height: fit-content;
    margin: 0;
    background: #F1F1F1;


    .topmain-content {
        width: 100%;
        height: 100%;


        .topmain-product {
            width: 80vw;
            display: flex;

            align-items: center;
            justify-content: space-between;

            .topmain-left {
                min-height: 364px;
                display: flex;

                flex-direction: column;
                justify-content: space-between;

                .title {
                    // width: 360px;
                    height: 55px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    // font-size: 74px;
                    line-height: 55px;
                }

                .description {
                    width: 100%;
                    height: 119px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    // font-size: 30px;
                    line-height: 55px;
                    /* or 183% */
                    text-transform: capitalize;
                }

                .button {

                    button {
                        width: 223px;
                        height: 72px;
                        background: #1E2832;
                        outline: none;
                        border: none;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 29px;
                        line-height: 55px;
                        /* identical to box height, or 190% */
                        text-transform: capitalize;
                        color: #FFFFFF;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                }
            }

            .topmain-right {
                // width: 40%;
                // height: 562px;


                // &:after {
                //     content: "";
                //     // width: 100%;
                //     // height: 100%;
                //     border-radius: 160px 0px;
                //     border: 2px solid #AFAFAF;
                //     display: block;
                //     margin-left: 5%;
                //     margin-top: -135%;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 160px 0px;
                }
            }
        }
    }
}

//mobile
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .topmain-product {
        height: 724px;
        margin: 347px auto 0;

        flex-direction: column;

        .topmain-left {
            width: 100%;
            align-items: center;

            .title {
                width: 100%;
                text-align: center;
                font-size: 55px;
            }

            .description {
                text-align: center;
                font-size: 25px;
            }
        }

        .topmain-right {
            height: 350px;
        }
    }
}

//tablet
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .topmain-product {
        height: 724px;
        margin: 347px auto 0;
        flex-direction: column;

        .topmain-left {
            width: 100%;
            align-items: center;

            .title {
                width: 100%;
                text-align: center;
                font-size: 55px;
            }

            .description {
                width: 100%;
                text-align: center;
                font-size: 25px;
            }
        }

        .topmain-right {
            height: 350px;
        }
    }
}

//laptop
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .topmain-product {
        height: 724px;
        margin: 347px auto 0;
        flex-direction: column;

        .topmain-left {
            width: 100%;
            align-items: center;

            .title {
                width: 100%;
                text-align: center;
                font-size: 55px;
            }

            .description {
                width: 100%;
                text-align: center;
                font-size: 25px;
            }
        }

        .topmain-right {
            height: 350px;
        }
    }
}

//desktop
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .topmain-product {
        margin: 227px auto 0;
        flex-direction: row;

        .topmain-left {
            width: 50%;

            .title {
                width: 100%;
                font-size: 74px;
            }

            .description {
                width: 100%;
                font-size: 30px;
            }
        }

        .topmain-right {
            width: 50%;
            height: 542px;
        }
    }
}

//extra
@media only screen and (min-width: 1201px) {
    .topmain-product {
        margin: 227px auto 0;
        flex-direction: row;

        .topmain-left {
            width: 686px;

            .title {
                width: 100%;
                font-size: 74px;
            }

            .description {
                width: 100%;
                font-size: 30px;
            }
        }

        .topmain-right {
            width: 442px;
            height: 562px;
        }
    }
}