.banner-container {
    width: 100%;
    height: 776px;
    margin-top: 140px;
    background-image: url(../../../assets/images/banner/banner.png);
    background-repeat: no-repeat;
    // background-position: 71%;
    // background-attachment: fixed;


    .banner-content {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;


        .logo-1-container {
            position: absolute;
            width: 732px;
            height: 309px;
            top: 10%;
            right: -240px;
            opacity: 0.08;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .logo-2-container {
            position: absolute;
            max-width: 504px;
            height: 422px;
            // left: 50%;
            top: 35%;

            .logo-2-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .banner-logo {
                    width: 191px;
                    height: 81px;
                }

                .banner-title {
                    width: 100%;
                    height: 147px;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    // font-size: 26px;
                    line-height: 30px;
                    text-transform: capitalize;

                    color: #FFFFFF;
                }

                .banner-button {
                    width: 245px;
                    height: 72px;

                    button {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        width: 245px;
                        cursor: pointer;

                        background: #FFFFFF;

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 29px;
                        line-height: 55px;
                        /* identical to box height, or 190% */

                        text-align: center;
                        text-transform: capitalize;

                        color: #000000;
                    }
                }
            }
        }
    }
}

//mobile
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .banner-container {
        background-position: 30%;

        .logo-2-container {
            left: 0;

            .logo-2-content {
                align-items: center;

                .banner-title {
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }
}

//tablet
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .banner-container {
        background-position: 30%;

        .logo-2-container {
            left: 0;
            right: 0;
            margin: 0 auto;

            .logo-2-content {
                align-items: center;

                .banner-title {
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }
}

//laptop
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .banner-container {
        background-position: 30%;

        .logo-2-container {
            left: 0;
            right: 0;
            margin: 0 auto;

            .logo-2-content {
                align-items: center;

                .banner-title {
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }
}

//desktop
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .banner-container {
        background-position: 30%;

        .logo-2-container {
            left: 0;
            right: 0;
            margin: 0 auto;

            .logo-2-content {
                align-items: center;

                .banner-title {
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }
}

//extra
@media only screen and (min-width: 1201px) {
    .banner-container {
        background-position: 71%;

        .logo-2-container {
            left: 50%;

            .logo-2-content {

                .banner-title {
                    font-size: 26px;
                }
            }
        }
    }
}