.list-container {
    height: 100%;
    width: 100%;

    .list-content {
        height: 100%;
        width: 100%;

        .products {
            width: 100%;
            height: 900px;

            .tabcontent {
                width: 100%;
                height: 100%;

                .list-title {
                    width: 100%;
                    height: 53px;
                    margin-bottom: 45px;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 45px;
                    line-height: 53px;
                    /* identical to box height */

                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: capitalize;

                    color: #000000;
                }

                .list-products {
                    width: 100%;
                    height: 100%;
                    overflow: auto;

                    .card-product {
                        max-width: 480px;
                        height: fit-content;


                        .img-product {
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                            height: 300px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .ribbon {
                                position: absolute;
                                width: 52px;
                                height: 24px;
                                left: 0;
                                top: 22px;

                                background: #FF6F61;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 24px;
                                text-align: center;
                                text-transform: uppercase;

                                color: #FFFFFF;

                                &.sale {
                                    background: #1E2832;
                                }

                            }

                            .access-product {
                                position: absolute;
                                width: 100%;
                                height: 56px;
                                bottom: 0px;
                                display: none;
                                background: #1E2832;

                                .action-product {
                                    width: 100%;
                                    height: 56px;
                                    color: #FFFFFF;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;

                                    .action-product-left {
                                        width: 66px;
                                        height: 24px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        a {
                                            color: #FFFFFF;
                                            height: 100%;
                                        }
                                    }

                                    .action-product-right {
                                        width: 115px;
                                        height: 24px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;

                                        font-family: "Roboto";
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 21px;
                                        text-transform: capitalize;

                                        button {
                                            color: #FFFFFF;
                                        }
                                    }
                                }
                            }

                            &:hover>.access-product {
                                display: block;
                                -webkit-animation: slideTop 1s;
                                animation: slideTop 1s;
                            }
                        }

                        .title-product {
                            width: 189px;
                            height: 22px;
                            margin-top: 18px;

                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            /* identical to box height */

                            text-transform: capitalize;

                            color: #000000;
                        }

                        .bottom-product {
                            margin-top: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .left-bot {
                                width: 90px;
                                height: 22px;

                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-transform: capitalize;

                                color: #777777;
                            }

                            .right-bot {
                                width: 51px;
                                height: 22px;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-align: right;
                                text-transform: capitalize;

                                color: #000000;
                            }
                        }
                    }
                }

                .list-pagination {
                    max-width: fit-content;
                    margin: 45px auto;
                }
            }
        }
    }
}