.list-container {
    height: 100%;
    width: 100%;

    .list-content {
        height: 100%;
        width: 100%;

        .products {
            width: 100%;
            height: 900px;

            .tabcontent {
                width: 100%;
                height: 100%;

                .list-title {
                    width: 100%;
                    height: 53px;
                    margin-bottom: 45px;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 45px;
                    line-height: 53px;
                    /* identical to box height */

                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: capitalize;

                    color: #000000;
                }

                .list-products {
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                }

                .list-pagination {
                    max-width: fit-content;
                    margin: 45px auto;
                }
            }
        }
    }
}