.grid-products-container {
    width: 90vw;
    height: 1055px;
    margin: 140px auto 0;
    border: 1px solid;

    .grid-products-content {
        width: 100%;
        height: 100%;
        border: 1px solid;

        .grid-products-title {
            width: 332px;
            height: 53px;
            margin: 0 auto 40px;
            border: 1px solid;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 53px;

            text-align: center;
            text-transform: capitalize;

            color: #000000;
        }

        .grid-products-top {
            width: 100%;
            height: 32px;
            margin-top: 40px;
            display: flex;
            border: 1px solid;
            align-items: center;
            justify-content: space-between;

            .tabs {
                width: 375px;
                height: 22px;
                display: flex;
                border: 1px solid;
                justify-content: space-between;

                .tablinks {
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: #777777;

                    &.active {
                        color: #000000;
                    }
                }
            }

            .filter {
                width: 88px;
                height: 32px;
                background: #1E2832;
                display: flex;
                color: #FFFFFF;
                align-items: center;
                justify-content: space-evenly;
                cursor: pointer;

                p {
                    width: 38px;
                    height: 22px;
                    margin: 0;

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */

                    text-transform: capitalize;
                }
            }
        }

        .products {
            width: 100%;
            height: 900px;
            margin-top: 30px;
            border: 1px solid;

            .tabcontent {
                width: 100%;
                height: 100%;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
                display: none;

                &.tab-active {
                    display: block;
                }

                .list-products {
                    width: 100%;
                    height: 100%;
                    overflow: auto;

                    .card-product {
                        max-width: 480px;
                        height: 438px;
                        border: 1px solid;

                        .img-product {
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                            height: 360px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            .ribbon {
                                position: absolute;
                                width: 52px;
                                height: 24px;
                                left: 0;
                                top: 22px;

                                background: #FF6F61;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 24px;
                                text-align: center;
                                text-transform: uppercase;

                                color: #FFFFFF;

                                &.sale {
                                    background: #1E2832;
                                }

                            }

                            .access-product {
                                position: absolute;
                                width: 100%;
                                height: 56px;
                                bottom: 0px;
                                display: none;
                                background: #1E2832;

                                .action-product {
                                    width: 100%;
                                    height: 56px;
                                    color: #FFFFFF;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;

                                    .action-product-left {
                                        width: 66px;
                                        height: 24px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                    }

                                    .action-product-right {
                                        width: 115px;
                                        height: 24px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;

                                        font-family: "Roboto";
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 21px;
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            &:hover>.access-product {
                                display: block;
                                -webkit-animation: slideTop 1s;
                                animation: slideTop 1s;
                            }
                        }

                        .title-product {
                            width: 189px;
                            height: 22px;
                            margin-top: 18px;

                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            /* identical to box height */

                            text-transform: capitalize;

                            color: #000000;
                        }

                        .bottom-product {
                            margin-top: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .left-bot {
                                width: 43px;
                                height: 22px;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-transform: capitalize;

                                color: #777777;
                            }

                            .right-bot {
                                width: 51px;
                                height: 22px;

                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                /* identical to box height */

                                text-align: right;
                                text-transform: capitalize;

                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    // animation for access product
    @-webkit-keyframes slideTop {
        from {
            bottom: -56px;
        }

        to {
            bottom: 0;
        }
    }

    @keyframes slideTop {
        from {
            bottom: -56px;
        }

        to {
            bottom: 0;
        }
    }
}